* {
  margin: 0;
  padding: 0;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  }

body {
  background: teal;
  color: white;
}

input {
  padding-right: 5px;
}

.space {
  margin: 10px;
  padding: 5px;
}

.center {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.choice {
  border: 1px solid gray;
  background: white;
  color: gray;
  padding: 5px;
  margin: 1px;
  display: block;
  border-radius: .5em;
}

.options {
  margin: 10px 0;
  padding: 5px;
  display: inline-block;
}

.button {
  background-color: orange;
  border: none;
  border-radius: .5em;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}

.hidden {
  visibility: hidden;
}

.show {
  display: block;
}
